*{
    font-family: Raleway;
    overflow-x: hidden;
}

#hero_area{
    background-color: #070F2B !important; 
}
.small{
    font-size: small !important;
}

button{
    border-radius: 0 !important;
}

#skills-wrapper .logo{
    width: 30px;
    height: 30px;
}

.logo-convering{
    flex-wrap: wrap;
}

.logo-convering button:hover{
    box-shadow: 1px solid grey;
}